.list {
  display: flex;
  flex-direction: column;
}

.list__title {
  padding: 3rem 0 1rem 4rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.list__title__heading {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 700;
  color: #b1b9db;
}

.list__container {
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  height: 85vh;
  overflow-y: scroll;
}

.list__container::-webkit-scrollbar {
  width: 0.5rem;
}

.list__container::-webkit-scrollbar-track {
  opacity: 0.3;
  background: rgba(177, 185, 219, 0.3);
  border-radius: 0.8rem;
  margin-block: 0.5rem;
}

.list__container::-webkit-scrollbar-thumb {
  background: #b1b9db;
  border-radius: 0.8rem;
}
